body {
    margin: 0!important;
    padding: 0!important;
}

a {
    text-decoration: none;
}

.page {
    padding-left: 5px;
}

.title {
    font-size: 1.5em !important;
    height: 1em !important;
    font-weight: bold;
    color: #1e7145;
}
.subtitle {
    font-size: 1em !important;
    height: 2em !important;
    font-weight: bold;
    color: #1e7145;
}

.photo {
    max-width: 100px;
}

.section {
    margin: 0px 20px 0px 0px;
}

